*
{
     box-sizing: border-box;
     margin: 0;
    padding: 0;
}
body {
   
    background-color: purple;
}

.container {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 300px;
    background: pink;
    border: 3px solid white;
    box-shadow: 8px 10px black;
}
.container #h {
    width: 100%;
    height: 80px;
    text-align: center;

    font-size: 50px;
}



.hour {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: white;
    border: 5px black solid;
    font-size: 50px;
    box-shadow: 3px 3px black;
}

.hour span#minutes {
    margin-top: 7.5px;
}

.day {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-shadow: 0px 1px black;
}



.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

@media screen and(max-width:600px) {
    hour span#minutes {
    margin-top: -7.5px;
    }
}
